body {
    font-family: ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .container {
    flex: 1;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    font-family: cursive;
  }
  .container h1 {
    text-align: center;
  }
  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .container button {
    background-color: green;
    color: white;
    padding: 14px ;
    margin: 8px 0;
    border: black;
    width: 100%;
  }
  #loginform {
    display: flex;
    flex-direction: column;
  }
  footer {
    text-align:center;
    background-color: black;
    color: white;
    padding: 20px
  }